.post {
  background: rgb(239, 222, 214) !important
}

.content__text {
  margin-bottom: 10px !important;
}

.meta {
  margin-top: 5px;
  display: grid;
  grid-template: 
  "tags author" auto
  "tags updatedAt" auto
  / 3fr 1fr;
}

.meta__author {
  grid-area: author;
  font-style: italic;
  font-size: 12px;
  opacity: 60%;
  margin: 0;
  align-self: end;
}

.meta__updated-at {
  grid-area: updatedAt;
  font-style: italic;
  font-size: 12px;
  opacity: 60%;
  margin: 0;
  align-self: end;
}

.meta__tags {
  margin: 5px;
  grid-area: tags;
  align-self: center;
  font-size: 14px;
  opacity: 90%;
}

.tag-array__element {
  margin: 5px 0px 0px 5px
}